$menu-color:white;
$hover-color:#515151;


html, body {
    height: 100%;
    font-family: Roboto;
  }
  .col-md-9{
      padding:0px;
  }
  .col-md-12{
      padding:0px;
  }

.side-bar{
    float:left;
    background-color:#003cb3;
    color:$menu-color;
    text-align: center;
    height: 100%;
    padding:0px;
    position: fixed;
    z-index: 1000;
}
.main-content{
    width: 75.5%;
    float: right;
    text-align: center;
    position: static;
    color: black;
    a:hover{
        color: $hover-color;
        text-decoration: none;
    }
    ul{
        list-style: none;
        text-align: left;
    }
}

.profilePic{
    border-radius: 50%;
    width: 170px;
    margin: 30px;
    margin-bottom: 40px;
}
.banner{
 
    .banner-overlay{
        opacity:1;
        position:absolute;
        filter: brightness(40%);
        background:
        linear-gradient(rgba(255,255,255,.25),rgba(255,255,255,.25));
        padding:0px;
        margin:0px;
    } 

}

.welcome-text{
    z-index: 100;
    /*position:absolute;*/
    position:relative;
    color:white;
    padding: 90px;
    text-align-last: center;
}



.content{
    margin: auto;
    width: 100%;
    height: 100%;
    border:none;
    box-sizing: border-box;
    padding-top: 20px;

}


.social-media{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
    height: 40px;

    
}

ul#social-icons {
    list-style: none;
    position:relative;
    left:20%;
    

    .fab {
        color:$menu-color;  
    }
    a:hover{
        transition:0.6s;
        .fab{
            color:black;
        }
    }
}

ul#social-icons li{
    display:inline;
    a:hover{
        color:$hover-color;

    }
}

@media only screen and (min-width: 769px) {
    .toggle-icon{
        display: none;
    }
    .spacer{
        display:none;
    }
    .side-bar{
        overflow-y: scroll;
    
    }
    
}
@media only screen and (max-width: 769px) {
    .main-navigation {
        display: none;
    }
    .welcome-text{
        display:none;
    }
    .side-bar{
        position: relative;
    }
    .main-content{
        width: 100%;
    }
}
@font-face { font-family: Roboto; src: url('Roboto/Roboto-Regular.ttf'); } 

//CSS for navigation menu; visible in medium to large windows
.main-navigation{
    color:$menu-color;
    width:100%;
}

ul#navigation{
    list-style:none;
    float: left;
    text-align: left;
    color:$menu-color;
    width:100%;
    padding:0px;
    .fa{
        margin-right:10px;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .fa-folder-open{
        padding-right:5px;
    }

    .fa-suitcase{
        padding-right:7px;
    }
    
}
ul#navigation li{
    color:$menu-color;
    a{
        color:$menu-color;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        /*font-size:18px;*/
    }
    a:hover{
        background-color: black;
        transition:0.6s;
    }


}

//CSS for reponsive menu
.toggle-icon{
    .fa{
        margin-right:0px;
        padding-left: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        background-color: lightblue;
    }
   
}
.toggle-icon:hover .fa{
    color:white;
    transition: 0.1s;
}

.toggle-menu{
    display:none;
    ul{
    //display:none;
    }

}

.toggle-menu--open{
    ul{
        display:block;
        
    }
}

.widget-title{
    margin-bottom: 30px;
}

//CSS for main content lists
.life-item{
    
    padding-right: 100px;
    .life-item-img{
        float: left;
        img{
        width: 60px;
        }
    }
    .life-item-content{
        margin-left: 70px;
    }

    .life-item-title{
        margin-bottom: 8px;
        .fab{
            color: black;
        }
        a:hover{
            transition:0.6s;
            .fab{
                color:grey;
            }
        }
    }

    h6{
        margin:0px;
    }
    .blue-grey{
        text-align: right;
        float: right;
    }
    ul{
        margin: 0px;
        padding-left:20px;
        list-style: disc;
        font-size: 12px;
    }

}

.line-seperator{
    padding-top: 10px;
    margin-top: 35px;
    margin-bottom:15px;
    //margin-bottom: 1000px;
}

//CSS for projects
