$menu-color:white;
$hover-color:#515151;

html, body {
    height: 100%;
  }
  .col-md-9{
      padding:0px;
  }
.side-bar{
    float:left;
    background-color:#003cb3;
    color:$menu-color;
    text-align: center;
    height: 100%;
    padding:0px;
}
.main-content{
    text-align: center;
    position: static;
    color: black;
    a:hover{
        color: $hover-color;
        text-decoration: none;

    }
}

.profilePic{
    border-radius: 50%;
    width: 170px;
    margin: 30px;
    margin-bottom: 40px;
}
.banner{
    .banner-overlay{
        opacity:1;
        position:absolute;
        filter: brightness(40%);
        background:
        linear-gradient(rgba(255,255,255,.25),rgba(255,255,255,.25));
        padding:0px;
        margin:0px;
    } 
}



.welcome-text{
    z-index: 100;
    /*position:absolute;*/
    position:relative;
    color:white;
    padding: 90px;
    text-align-last: center;
}



.content{
    margin: auto;
    width: 80%;
    height: 100%;
    border:none;
    box-sizing: border-box;
    padding-top: 20px;

}


.social-media{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
    
}

ul#social-icons {
    list-style: none;
    position:relative;
    left:20%;
    .fa {
        color:$menu-color;  
    }
    a:hover{
        transition:0.6s;
        .fa{
            color:black;
        }
    }

    

}

ul#social-icons li{
    display:inline;
    a:hover{
        color:$hover-color;

    }
}

@media only screen and (max-width: 767px) {
    .main-navigation {
        display: none;
    }
    /*.welcome-text{
        display:none;
    }*/
}

.main-navigation{
    color:$menu-color;
    width:100%;
}

ul#navigation{
    list-style:none;
    float: left;
    text-align: left;
    color:$menu-color;
    width:100%;
    padding:0px;
    .fa{
        margin-right:10px;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .fa-folder-open{
        padding-right:5px;
    }

    .fa-suitcase{
        padding-right:7px;
    }
    
}
ul#navigation li{
    color:$menu-color;
    a{
        color:$menu-color;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        /*font-size:18px;*/
    }
    a:hover{
        background-color: black;
        transition:0.6s;
    }


}

